@import url('https://fonts.googleapis.com/css?family=Quicksand');

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	
	background: #181818;
	font-family: 'Quicksand', sans-serif;
	color: #fff;
	line-height: 2rem;
	overflow: hidden;
}

.wrapper{
	display: flex;
	flex-direction: row;
}


#left{
	display: flex;
	flex-direction: column;
	flex: 1;
}

#signin{
	display: flex;
	flex-direction: column;
	width: 80%;
	height: 100vh;
	align-items: center;
	justify-content: center;
	margin: auto;

}

#signin .web-title {
	line-height: 3rem;
	margin-bottom: 30px;
	font-size: 25px;
	font-weight: 800;
	text-align: center;
}

#signin .web-title span{
	color: #ff4500;
}

#signin form {
	margin-bottom: 3rem;

}

#signin label{
	font-size: 14px;
}

#signin .text-input{
	width: 100%;
	height: 25px;
	background: #181818;
	color: #fff;
	border: 1px #555 solid;
	border-radius: 2px;
	margin-bottom: 10px;
	padding: 5px 8px;
}

#signin .signin-btn, #signin .signin-btn a{
	text-decoration: none;
	list-style: none;
	text-align: center;
	display: block;
	width: 100%;
	height: 35px;
	background: #ff4500;
	color: #fff;
	border: none;
	border-radius: 2px;
	cursor: pointer;
	margin-top: 10px;
	transition: all 0.5s;
}

#signin .signin-btn:hover{
	background: #d2691e;


}
#signin .links a{
	display: flex;
	flex-direction: column;
	text-align: center;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	transition: all 0.5s;
}
#signin .links a:hover{
	color: #d2691e;
}


#signin .or{
	display: flex;
	flex-direction: row;
	width: 60%;
	align-items: center;
}

#signin .or .line{
	height: 1px;
	width: 60%;
}

#signin .or span{
	padding: 0 0.8rem;
}

#signin .create-btn{
	width: 60%;
	text-decoration: none;
	background: #ff4500;
	color: #fff;
	border: 1px #ccc solid;
	text-align: center;
	border-radius: 2px;
	margin-bottom: 20px;
	cursor: pointer;
	margin-top: 10px;
	transition: all 0.5s;
}

#signin .create-btn:hover{
	background: #d2691e;

}

#signin .main-footer{
	text-align: center;
	font-size: 15px;
}

#signin .main-footer a{
	color:  #ff4500;
	font-size: 13px;
	padding: 0 0.8rem;
	transition: all 0.5s;
}

#signin .main-footer a:hover{
	color:  #F4f4f4;
	
}

#right{
	display: flex;
	flex-direction: column;
	flex: 1;
	

}
#showcase{
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100%;
	text-align: center;
	align-items: center;
	justify-content: center;
	background: url(./img/webdev.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#showcase .showcase-content h1{
	line-height: 3rem;
	font-size: 3rem;
	margin-bottom: 35px;
	
}

#showcase .enroll-btn{
	width: 50%;
	text-decoration: none;
	font-size: 18px;
	background: #ff4500;
	color: #fff;
	text-align: center;
	border-radius: 2px;
	margin-bottom: 20px;
	cursor: pointer;
	margin-top: 10px;
	padding: 8px 0;
	transition: all 0.5s;

}
#showcase .enroll-btn:hover{
	background: #d2691e;

}


@media (min-width: 1200px) {

	#left{
		flex: 4;
	}

	#right {
		flex: 6;
	}

	#showcase .showcase-content h1{

	}

}

@media (max-width: 600px) {
	
	#right {
		display: none;
	}
}

